<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Generate XML</title>
  </head>
  <body>
    <div class="container">
      <b>Création d'un objet </b>
      <br />
      <form
        data-th-action="@{addObject}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            Nom de l'objet: <input type="text" name="objectName" required />
          </div>
          <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                  Nombre de messages <input type="number" name="nbMsg" min="1">
                </div> -->
          <div class="col-lg-6 col-md-6 col-sm-12">
            Details de l'objet
            <input type="text" name="objectDetail" required />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            Image de l'objet
            <input
              type="file"
              name="objectImage"
              accept="image/png, image/jpeg"
              required
            />
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success">
              Créer l'object
            </button>
          </div>
        </div>
      </form>
      <br />
      <div class="divider"></div>
      <b>Création d'un utilisateur</b>
      <br />
      <form data-th-action="@{addUser}" method="post">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            Nom de l'utilisateur: <input type="text" name="name" required />
          </div>
          <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                      Nombre de messages <input type="number" name="nbMsg" min="1">
                    </div> -->
          <div class="col-lg-6 col-md-6 col-sm-12">
            prénom de l'utilisateur
            <input type="text" name="lastName" required />
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success">
              Créer l'utilisateur
            </button>
          </div>
        </div>
      </form>
      <br />
      <div class="divider"></div>
      <b>Création d'une réponse deny</b>
      <br />
      <form data-th-action="@{addDenyResponse}" method="post">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            l'id du message de proposition :
            <input type="number" name="idPropositionMsg" required />
          </div>
          <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                          Nombre de messages <input type="number" name="nbMsg" min="1">
                        </div> -->
          <div class="col-lg-6 col-md-6 col-sm-12">
            raison:
            <textarea
              name="reason"
              id=""
              cols="30"
              rows="4"
              required
            ></textarea>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success">
              Créer une option Deny
            </button>
          </div>
        </div>
      </form>
      <br />
      <div class="divider"></div>
      <b>Création d'une Cat</b>
      <br />
      <form data-th-action="@{addCat}" method="post">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            Choisir la date du Cat :
            <input type="date" name="catDate" required />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            Choisir l'heur : <input type="time" name="time" required />
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success">Créer une Cat</button>
          </div>
        </div>
      </form>
      <br />
      <div class="divider"></div>
      <b>Relation Cat / Object</b>
      <br />
      <form data-th-action="@{catObject}" method="post">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            Cat :
            <select name="cat">
              <option th:each="cc : ${catList}" th:value="${cc.getIdCat()}">
                [[ ${cc.getCatDate()} ]]
              </option>
            </select>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            Object :
            <select name="obj">
              <option
                th:each="obob : ${objList}"
                th:value="${obob.getObjectId()}"
              >
                [[ ${obob.getObjectName()} ]]
              </option>
            </select>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success">
              Créer une aassociation Cat / object
            </button>
          </div>
        </div>
      </form>

      <br />
      <div class="divider"></div>
      <b>Création Authentification</b>
      <br />
      <form data-th-action="@{addAuth}" method="post">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            Auth Date: <input type="date" name="authDate" id="" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            Auth Time : <input type="time" name="authTime" id="" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            Auth reference : <input type="text" name="authRef" />
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success">
              Créer une Authentification
            </button>
          </div>
        </div>
      </form>
      <br />
      <div class="divider"></div>
      <b>Création No Cat</b>
      <br />
      <form data-th-action="@{addNoCat}" method="post">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            raison:
            <textarea
              name="reason"
              id=""
              cols="30"
              rows="4"
              required
            ></textarea>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            Id Cat Request Message :
            <input type="number" name="idCatRequestMsg" id="" />
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success">Créer No Cat</button>
          </div>
        </div>
      </form>
      <br />
      <div class="divider"></div>
      <b>Ajouter Une list d'objet reçu</b>
      <br />
      <form data-th-action="@{addRcvObjectList}" method="post">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success">
              Ajouter une liste d'object reçu
            </button>
          </div>
        </div>
      </form>

      <br />
      <div class="divider"></div>
      <b>Ajouter Une list d'objet envoyé</b>
      <br />
      <form data-th-action="@{addSndObjectList}" method="post">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success">
              Ajouter une liste d'object Envoyé
            </button>
          </div>
        </div>
      </form>

      <br />
      <div class="divider"></div>
      <b>Association Object / List d'objet Envoyé</b>
      <br />
      <form data-th-action="@{addObjectSNDList}" method="post">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            Listes object envoyés :
            <select name="sndObjList">
              <option
                th:each="sndobjl : ${sndObjectList}"
                th:value="${sndobjl.getIdSndObjectList()}"
              >
                [[ ${sndobjl.getIdSndObjectList()} ]]
              </option>
            </select>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            Objects :
            <select name="obj">
              <option
                th:each="obob : ${objList}"
                th:value="${obob.getObjectId()}"
              >
                [[ ${obob.getObjectName()} ]]
              </option>
            </select>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success">
              Association Object / List d'objet Envoyé
            </button>
          </div>
        </div>
      </form>

      <br />
      <div class="divider"></div>
      <b>Association Object / List d'objet Reçu</b>
      <br />
      <form data-th-action="@{addObjectRCVList}" method="post">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            Listes object reçu :
            <select name="rcvObjList">
              <option
                th:each="rcvobjl : ${rcvObjectList}"
                th:value="${rcvobjl.getIdRcvObjectList()}"
              >
                [[ ${rcvobjl.getIdRcvObjectList()} ]]
              </option>
            </select>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            Objects :
            <select name="obj">
              <option
                th:each="obob : ${objList}"
                th:value="${obob.getObjectId()}"
              >
                [[ ${obob.getObjectName()} ]]
              </option>
            </select>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success">
              Association Object / List d'objet Reçu
            </button>
          </div>
        </div>
      </form>

      <br />
      <div class="divider"></div>
      <b>Ajouter une requete</b>
      <br />
      <form data-th-action="@{addRequest}" method="post">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            Listes object reçu :
            <select name="rcvObjList">
              <option
                th:each="rcvobjl : ${rcvObjectList}"
                th:value="${rcvobjl.getIdRcvObjectList()}"
              >
                [[ ${rcvobjl.getIdRcvObjectList()} ]]
              </option>
            </select>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
        
          id Message précédent :  <input type="number" name="idPrevMsg" min="1" required>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success">
              Créer la request
            </button>
          </div>
        </div>
      </form>










    <br />
    <div class="divider"></div>
    <b>Ajouter un troc (Barter) </b>
    <br />
    <form data-th-action="@{addBarter}" method="post">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                Listes object reçu :
                <select name="rcvObjList">
                    <option th:each="rcvobjl : ${rcvObjectList}" th:value="${rcvobjl.getIdRcvObjectList()}">
                        [[ ${rcvobjl.getIdRcvObjectList()} ]]
                    </option>
                </select>
            </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            Listes object envoyés :
            <select name="sndObjList">
                <option th:each="sndobjl : ${sndObjectList}" th:value="${sndobjl.getIdSndObjectList()}">
                    [[ ${sndobjl.getIdSndObjectList()} ]]
                </option>
            </select>
        </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
    
                id Message précédent : <input type="number" name="idPrevMsg" min="1" required>
            </div>
    
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button type="submit" class="btn btn-success">
                    Créer le Barter (Troc)
                </button>
            </div>
        </div>
    </form>















        <br />
        <div class="divider"></div>
        <b>Ajouter une donation </b>
        <br />
        <form data-th-action="@{addDonation}" method="post">
            <div class="row">
               
                <div class="col-lg-6 col-md-6 col-sm-12">
                    Listes object envoyés :
                    <select name="sndObjList">
                        <option th:each="sndobjl : ${sndObjectList}" th:value="${sndobjl.getIdSndObjectList()}">
                            [[ ${sndobjl.getIdSndObjectList()} ]]
                        </option>
                    </select>
                </div>
        
                <div class="col-lg-6 col-md-6 col-sm-12">
        
                    id Message précédent : <input type="number" name="idPrevMsg" min="1" required>
                </div>
        
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button type="submit" class="btn btn-success">
                        Créer la Donation
                    </button>
                </div>
            </div>
        </form>








        <br />
        <div class="divider"></div>
        <b>Ajouter une acceptation(Accept) </b>
        <br />
        <form data-th-action="@{addAccept}" method="post">
            <div class="row">
    
        
                <div class="col-lg-6 col-md-6 col-sm-12">
        
                    id proposition précédente : <input type="number" name="idPropositionMsg" min="1" required>
                </div>
        
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button type="submit" class="btn btn-success">
                        Créer Une acceptation( Accept)
                    </button>
                </div>
            </div>
        </form>









        <br />
        <div class="divider"></div>
        <b>Ajouter un message d'erreur </b>
        <br />
        <form data-th-action="@{addErrorMessage}" method="post">
            <div class="row">
        
        
                
        
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button type="submit" class="btn btn-success">
                        Créer un message d'erreur
                    </button>
                </div>
            </div>
        </form>











        <!-- créer un Message : -->









        <br />
        <div class="divider"></div>
        <b>Ajouter un message  </b>
        <br />
        <form data-th-action="@{addMessage}" method="post">
            <div class="row">
        
<div class="col-lg-6 col-md-6 col-sm-12">
Accept :
<select name="accept">
    <option selected value="0"></option>
    <option th:each="acc : ${acceptList}" th:value="${acc.getIdAccept()}">
        [[ ${acc.getIdPropositionMsg()} ]]
    </option>
</select>

</div>
<div class="col-lg-6 col-md-6 col-sm-12">
    Authentification :
    <select name="auth">
        <option selected value="0"></option>
        <option th:each="authAuth : ${authList}" th:value="${authAuth.getIdAuth()}">
            [[ ${authAuth.getAuthRef()} ]] [[ ${authAuth.getAuthDate()} ]]
        </option>
    </select>
</div>
        
<div class="col-lg-6 col-md-6 col-sm-12">
Auth Request : 
<input type="number" name="authRequest" id="" min="1">
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
    Barter :
    <select name="barter">
        <option selected value="0"></option>
        <option th:each="barter : ${barterList}" th:value="${barter.getIdBarter()}">
           id prev message : [[ ${barter.getIdPrevMsg()} ]]
        </option>
    </select>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
Cat  :
<select name="cat">
    <option selected value="0"></option>
    <option th:each="catcat : ${catList}" th:value="${catcat.getIdCat()}">
    [[ ${catcat.getCatDate()} ]]
    
    </option>
</select>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
Cat Request:
<input type="number" name="catRequest" id="" min="1">
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
Deny
<select name="deny">
    <option selected value="0"></option>
    <option th:each="denydeny : ${denyList}" th:value="${denydeny.getIdDeny()}">
       id prev message  : [[ ${denydeny.getIdPropositionMsg()} ]] raison :[[ ${denydeny.getReason()} ]]

    </option>
</select>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
Donation
<select name="donation">
    <option selected value="0"></option>
    <option th:each="donationdonation : ${donationList}" th:value="${donationdonation.getIdDonation()}">
      id prev message :[[ ${donationdonation.getIdPrevMsg()} ]] 

    </option>
</select>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
Message d'erreur :
<select name="errorMessage">
    <option selected value="0"></option>
    <option th:each="error : ${errorMessageList}" th:value="${error.getIdErrorMessage()}">
        [[ ${error.getIdErrorMessage()} ]]

    </option>
</select>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
No Cat : 
<select name="noCat">
    <option selected value="0"></option>
    <option th:each="noCatNoCat : ${notCatList}" th:value="${noCatNoCat.getNoCatId()}">
        id Cat request message :[[ ${noCatNoCat.getIdCatRequestMsg()} ]] , reason :[[ ${noCatNoCat.getReason()} ]]

    </option>
</select>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
Request :
<select name="request">
    <option selected value="0"></option>
    <option th:each="req : ${requestList}" th:value="${req.getRequestId()}">
        id prev message :[[ ${req.getIdPrevMsg()} ]]

    </option>
</select>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
Durée de validité:
<input type="number" name="validityDuration" id="" min="1">
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
    Date du message :
    <input type="date" name="messageDate" required>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
    Heure du message:
    <input type="time" name="messageTime"  required>
</div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button type="submit" class="btn btn-success">
                        Créer un message
                    </button>
                </div>
            </div>
        </form>


    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
